@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

summary::details-marker {
  display: none;
}

summary::list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  display: inline-block;
  cursor: pointer;
}

.ibg {
  position: relative;
}
.ibg img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

/*-----------------------------image-as-background----------------------------------*/
.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
}
.wrapper a {
  color: inherit;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1280px;
  min-width: auto;
  min-height: 100%;
  padding-inline: 20px;
}

[class*=__button] {
  background: #8c7568;
  border: 2px solid #8c7568;
  padding: 16px 34px;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s;
  transition-delay: 200ms;
}
[class*=__button]:hover {
  background: #fff;
  border: 2px solid #fff;
  color: #8c7568;
}

@media screen and (hover: none) {
  [class*=__button]:active {
    background: #fff;
    border: 2px solid #fff;
    color: #8c7568;
    transition: none;
  }
}
[class$=__title] {
  color: rgb(74, 74, 77);
  font-size: 50px;
  line-height: 120%;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
}
[class$=__title]::after {
  content: url(../../../img/someShit.svg);
  display: block;
  margin-top: 15px;
}

[class$=__subtitle] {
  color: rgb(74, 74, 77);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 155%;
}

[class$=__text] {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  color: rgb(125, 125, 125);
}

.navigation__link {
  font-weight: 600;
}
.navigation__link:hover {
  color: #8c7568;
}

@media screen and (max-width: 1250px) {
  [class$=__title] {
    font-size: 65px;
  }
  [class$=__subtitle] {
    font-size: 18px;
  }
  [class$=__text] {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  [class$=__title] {
    font-size: 55px;
  }
  [class$=__subtitle] {
    font-size: 16px;
  }
  [class$=__text] {
    font-size: 14px;
  }
}
@media screen and (max-width: 900px) {
  [class$=__title] {
    font-size: 48px;
  }
  [class$=__subtitle] {
    font-size: 15px;
  }
  [class$=__text] {
    font-size: 13px;
  }
}
.txt-cntr {
  text-align: center;
}

.socials {
  display: flex;
}
.socials li:not(:last-child) {
  margin: 0 10px 0 0;
}

.header {
  background: #343436;
  height: 160px;
  width: 100%;
  color: #fff;
  position: fixed;
  z-index: 30;
}
.header a {
  color: #fff;
}
.header__logo {
  max-width: 100px;
  max-height: 100px;
}
.header__logo img {
  width: 100%;
  height: 100%;
}

.header__body {
  display: flex;
  height: 160px;
  align-items: center;
  justify-content: space-between;
}

.scroll {
  height: 50px;
}
.scroll .header__body {
  height: 50px;
}
.scroll .header__logo {
  max-width: 48px;
  max-height: 48px;
}

.burger__menu {
  display: none;
}

.navigation {
  display: flex;
  flex: 1;
}
.navigation__links {
  flex: 1 0 200px;
  justify-content: center;
}
.navigation__item:not(:last-child) {
  margin: 0 20px 0 0;
}
.navigation > ul {
  display: inherit;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    background: #343436;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 2s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .navigation__links {
    flex: 0;
    flex-direction: inherit;
  }
  .navigation__item:not(:last-child) {
    margin: 0 0 10px 0;
  }
  .navigation__socials {
    margin-top: 30px;
  }
  .burger__menu {
    display: flex;
    position: absolute;
    right: 20px;
    left: 87%;
    z-index: 3;
    width: 30px;
    height: 20px;
    background: transparent;
  }
  .burger__menu span {
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    transition: transform 5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .burger__menu span:nth-child(1) {
    transform: translateY(8px);
  }
  .burger__menu span:nth-child(3) {
    transform: translateY(16px);
  }
  .active.navigation {
    top: 0;
  }
  .active span:nth-child(1) {
    display: none;
  }
  .active span:nth-child(2) {
    transform: rotateZ(45deg);
  }
  .active span:nth-child(3) {
    transform: rotateZ(-45deg);
  }
}
main {
  width: 100%;
  flex: 1 0 auto;
  margin-top: 160px;
}

.preview {
  height: 930px;
  background: #38383a;
  display: flex;
}
.preview__content {
  display: inherit;
  justify-content: center;
  align-items: center;
  padding: 0 7%;
}
.preview__bgimage {
  width: 100%;
  height: 100%;
}
.preview__title {
  font-size: 70px;
  line-height: 111.4285714286%;
  color: rgb(255, 255, 255);
}
.preview__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 166.6666666667%;
}

@media screen and (max-width: 1000px) {
  .preview {
    height: 800px;
    position: relative;
  }
  .preview__content {
    z-index: 2;
    padding: 0 7%;
  }
  .preview__bgimage {
    position: static;
  }
  .preview__bgimage img {
    opacity: 0.3;
    z-index: 0;
  }
}
.aboutCompany {
  min-height: 750px;
}
.aboutCompany__body {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}
.aboutCompany__columnText {
  padding-block: 100px;
  max-width: 630px;
  margin-right: 20px;
}
.aboutCompany__columnText > *:not(:first-child) {
  margin: 0 0 30px 0;
}
.aboutCompany__text {
  max-width: 610px;
}
.aboutCompany__image {
  height: 510px;
  width: 450px;
  position: relative;
  top: 105px;
}
.aboutCompany__image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#whiteButton {
  background: white;
  border: 2px solid #8c7568;
  color: #8c7568;
  width: 128px;
  height: 50px;
  padding: 0;
  margin: 0 10px 10px 0;
}

#colorButton {
  padding: 0;
  height: 50px;
  width: 125px;
}

@media screen and (max-width: 1250px) {
  .aboutCompany__columnText {
    max-width: 500px;
  }
  .aboutCompany__body {
    padding: 20px 30px;
  }
}
@media screen and (max-width: 1000px) {
  .aboutCompany__body {
    padding: 10px 20px;
  }
  .aboutCompany__columnText {
    max-width: 400px;
  }
  .aboutCompany__image img {
    height: 90%;
  }
}
@media screen and (max-width: 900px) {
  .aboutCompany {
    min-height: 650px;
  }
  .aboutCompany__body {
    padding: 10px 20px;
  }
  .aboutCompany__image img {
    height: 70%;
  }
  #whiteButton {
    width: 100px;
  }
  #colorButton {
    width: 98px;
  }
}
@media screen and (max-width: 720px) {
  .aboutCompany {
    min-height: 550px;
  }
  .aboutCompany__body {
    display: flex;
    justify-content: center;
  }
  .aboutCompany__image {
    display: none;
  }
  .socials {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  #whiteButton {
    width: 100%;
  }
  #colorButton {
    width: 100%;
  }
}
.whyChoose {
  background: #f7f5f5;
  padding: 90px 0 100px 0;
}
.whyChoose__top {
  text-align: center;
  margin: 0 0 50px 0;
}

.cards {
  display: grid;
  gap: 30px;
  padding-inline: 30px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 480px;
  grid-template-areas: "second-col third-col first-col";
}

.card {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  padding: 35px;
  background: #FFF;
}
.card__subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
}
.card__list li:not(:last-child) {
  margin: 0 0 20px 0;
}
.card__list li::before {
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #8c7568;
  margin-right: 8px;
}
.card__image {
  height: 100px;
  width: 100px;
  position: relative;
}
.card__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:nth-child(1) {
  grid-area: first-col;
}
.card:nth-child(2) {
  grid-area: second-col;
}
.card:nth-child(2) {
  grid-area: third-col;
}

@media screen and (max-width: 1250px) {
  .cards {
    grid-template-columns: repeat(2, minmax(370px, 1fr));
    grid-template-rows: repeat(2, 480px);
    grid-template-areas: "second-col third-col " " first-col first-col";
  }
}
@media screen and (max-width: 850px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, minmax(480px, 540px));
    grid-template-areas: "second-col" "third-col" "first-col";
  }
  .card__text {
    max-width: 300px;
  }
}
.services {
  background: #343436;
  padding-block: 90px 100px;
  text-align: center;
}
.services__title {
  color: #fff;
}
.services__subtitle {
  color: #fff;
  margin: 0 0 50px 0;
}
.services__contentService {
  margin: 0 0 55px 0;
}

.contentService__subtitle {
  color: #fff;
}
.contentService__text {
  color: #fff;
}
.contentService__row {
  background: rgb(26.9811320755, 26.9811320755, 28.0188679245);
  text-align: start;
  display: flex;
}
.contentService__row:last-child {
  margin-top: 30px;
  flex-direction: row-reverse;
}
.contentService__element {
  flex: 1 1 50%;
  height: 321px;
  padding: 45px 80px;
}
.contentService__element:first-child {
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 100px;
  font-family: "Open sans", serif;
  font-weight: 800;
}

@media screen and (max-width: 900px) {
  .content__row {
    flex-direction: column;
    gap: 10px;
  }
  .content__row:last-child {
    flex-direction: column;
  }
  .content__element {
    padding: 45px 20%;
  }
}
.howWork {
  background: url(../img/images/howWork-img.png) top/cover no-repeat;
  padding-block: 100px;
}
.howWork__content {
  max-width: 731px;
  background: #fff;
  padding: 30px 30px;
  border-radius: 30px;
}

.list {
  max-width: 490px;
  margin: 35px 0 0 15px;
}
.list__subtitle {
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 20px;
}
.list__section {
  display: flex;
  gap: 20px;
}
.list__section:not(:last-child) {
  margin: 0 0 30px 0;
}
.list__icon {
  color: rgb(140, 117, 104);
  flex: 0 0 70px;
  width: 70px;
  height: 70px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: rgb(241, 243, 243);
}
.list__icon img {
  height: 40px;
  width: 40px;
}

@media screen and (max-width: 1250px) {
  .list__subtitle {
    font-size: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .list__subtitle {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .list__subtitle {
    font-size: 18px;
  }
}
:root {
  --count: 0;
  --itemWidth:370px ;
}

.team {
  background: #f7f5f5;
  padding-block: 90px 100px;
}
.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.panel {
  position: relative;
  padding: 0 22px;
}
.panel__content {
  display: flex;
  overflow: hidden;
  justify-content: center;
}
.panel__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #ffffff;
  text-align: center;
  min-width: var(--itemWidth);
  padding: 70px 10px;
  transform: translateX(var(--count));
  transition: transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.panel__item:not(:last-child) {
  margin-right: 43px;
}
.panel__role {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 185.7142857143%;
  color: rgb(125, 125, 125);
}
.panel__image {
  height: 120px;
  width: 120px;
}
.panel__image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.panel__socNetworks {
  display: flex;
  gap: 15px;
}

.btn {
  width: 100%;
  display: flex;
  position: absolute;
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  justify-content: space-between;
}
.btn button {
  text-align: center;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  font-size: 30px;
}
.btn button:first-child {
  margin: 0 0 0 -35px;
}
.btn button:last-child {
  margin: 0 -35px 0 0;
}

@media screen and (max-width: 880px) {
  :root {
    --itemWidth:300px ;
  }
}
@media screen and (max-width: 720px) {
  :root {
    --itemWidth:250px ;
  }
}
.map {
  height: 760px;
  position: relative;
}
.map__infoWindow {
  text-align: center;
  position: absolute;
  padding: 35px;
  height: 490px;
  max-width: 370px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.map__button {
  width: 185px;
}

#map {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 970px) {
  .map__infoWindow {
    height: 450px;
  }
}
:root {
  interpolate-size: allow-keywords;
}

.faq {
  padding-block: 90px 100px;
}

.content {
  margin: 50px 0 0 0;
  display: flex;
  gap: 30px;
}
.content__column {
  text-align: start;
  flex: 1 0 45%;
}
.content__text {
  line-height: normal;
  padding: 0 0 25px 0;
}
.content__subtitle {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 20px 0;
}
.content__item {
  margin-block: 20px;
  border-bottom: 1px solid rgb(153.1132075472, 153.1132075472, 156.8867924528);
}
.content summary {
  font-family: "Open Sans", sans-serif;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  padding-block: 20px;
  color: rgb(74, 74, 77);
}

details {
  overflow: hidden;
  padding-inline: 10px;
}
details span:last-child {
  font-size: 30px;
}
details::details-content {
  block-size: 0;
  transition: block-size 1s;
}

details[open] span:last-child {
  transform: rotateZ(-90deg);
}
details[open]::details-content {
  block-size: auto;
}

@media screen and (max-width: 700px) {
  .content {
    flex-direction: column;
  }
}
.footer {
  color: #fff;
  background: #343436;
}
.footer__logo {
  max-width: 100px;
  max-height: 100px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
}
.footer__body {
  padding: 100px 0 30px 0;
  display: grid;
  grid-template-areas: "abo nav sub";
  grid-template-rows: 1fr;
  grid-template-columns: 210px 1fr 210px;
  gap: 30px;
}
.footer__navigation {
  display: flex;
  flex: 1;
}
.footer__navigation__link {
  flex: 1 0 200px;
  justify-content: center;
}
.footer__navigation__item:not(:last-child) {
  margin: 0 20px 0 0;
}
.footer__navigation__link:hover {
  color: #6f5237;
}
.footer__navigation > ul {
  display: inherit;
  align-items: center;
}
.footer__column-about {
  grid-area: abo;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__column-navigation {
  grid-area: nav;
  display: flex;
  gap: 30px;
}
.footer__column-navigation ul {
  display: flex;
  flex-direction: column;
}
.footer__column-navigation ul li {
  padding: 10px 5px;
}
.footer__social {
  text-align: center;
}
.footer__social div {
  margin: 30px 0 0 0;
}
.footer__social div img:not(:last-child) {
  margin: 0 15px 0 0;
}
.footer__column-subscribe {
  grid-area: sub;
  text-align: center;
}
.footer .form__input {
  width: 100%;
  height: 50px;
  background: #3c3c3e;
  padding: 5px 20px;
  color: #fff;
}
.footer .form__label {
  color: #343436;
}
.footer .form__button[type=submit] {
  margin-top: 20px;
  width: 100%;
}
.footer__author {
  border-top: 1px solid #969696;
  padding: 20px 15px;
  color: #969696;
}

@media screen and (max-width: 1000px) {
  .footer__body {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 210px 1fr;
    grid-template-areas: "abo nav" "sub sub";
  }
  .footer__column-subscribe {
    padding: 0 10%;
  }
}
@media screen and (max-width: 800px) {
  .footer__column-about {
    text-align: center;
  }
  .footer__description {
    padding: 0 15%;
  }
  .footer__navigation {
    text-align: center;
  }
  .footer__body {
    grid-template-rows: min-content 2fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "abo" "nav" "sub";
  }
  .footer__column-navigation {
    flex-direction: column;
  }
}