.preview{
    height: 100vh;
    padding: 10% 10%;
    background: #38383a;
    color: #fff;
   &>div:not(:last-child){
    margin: 40px 0 ;
   }
}





//? under this line all is not important 
// .preview {
//   
//   
//   position: relative;
//   display: flex;
  
//   align-items: center;
//   height: 100vh;
//   &__body {
   
//     z-index: 1;
//   }
//   &__bg {
//     width: 48%;
//     height: 100%;
//     img {
//       height: 100%;
//     }
//   }
//   &__pattern {
//     background: url(../../../img/plus.svg) repeat;
//     width: 23%;
//     height: 50%;
//     position: absolute;
//     left: 0;
//     top: 170px;
//   }
// }
// // element preview__content == content
// .content {
//   position: relative;
//   top: 200px;
//   z-index: 1;
//   align-self: center;
//   & > *:not(:last-child) {
//     margin: 0 0 60px 0;
//   }
//   &__phrase {
//     font-size: 70px;
//     line-height: 77/70 * 100%;
//     font-weight: 700;
//     &::after {
//       content: url(../../../img/someShit.svg);
//       display: block;
//       position: relative;
//       top: 30px;
//     }
//   }
//   &__text {
//     font-size: 18px;
//     line-height: 30/18 * 100%;
//     font-weight: 600;
//   }
// }

// @media screen and (max-width: 890px) {
//   .header{
//     height: 50px;
//     &__body{
//       height: 50px;
//     }
//   }
//   .preview {
//     position: relative;
    
//     &__body {
//       padding-block: 100px;
//       text-align: center;
//     }

//     &__pattern {
//      display: none;
//     }
//     &__bg {
//       position: absolute;
//       img {
//         object-fit: fill;
//         opacity: 0.6;
//         filter: blur(6px);
//       }
//     }
//   }
//   .content {
//     top: 100px;
//     &__phrase {
//       font-size: 65px;
//     }
//     &__text {
//       font-size: 15px;
//     }
//   }
// }
