.title_ {
  line-height: 60px;
  font-size: 50px;
  font-weight: 900;
  color: #4a4a4d;
}
.subtitle_ {
  color: #4a4a4d;
  font-size: 20px;
  line-height: 32/20 * 100%;
  font-weight: 500;
  margin: 30px 0;
}
