@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "src/default_style.scss";

//!---------structure-class-----------------------------------------------------------------------------------------------------------
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  font-family: Roboto;
  a {
    color: inherit;
  }
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1280px;
  min-height: 100%;
  padding-inline: 20px;
}
[class*="__button"] {
  background: #8c7568;
  border: 2px solid #8c7568;
  padding: 16px 34px;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.8px;
  transition: all 0.3s;
  transition-delay: 200ms;
  &:hover {
    background: #fff;
    border: 2px solid #fff;
    color: #8c7568;
  }
}
@media screen and (hover: none) {
  [class*="__button"]:active {
    background: #fff;
    border: 2px solid #fff;
    color: #8c7568;
    transition: none;
  }
}

[class*="__title"] {
  font-size: 50px;
  line-height: 60/50 * 100%;
  font-weight: 900;
  color: inherit;
  &::after {
    content: url(../../../img/someShit.svg);
    display: block;
    margin-block: 15px;
  }
}
[class*="__subtitle"] {
  font-size: 20px;
  line-height: 32/20 * 100%;
  font-weight: 500;
  color: inherit;
}

//-----header-----------------------------------------------------------------------------------------------------------------------
@import "src/header.scss";

//-----main-----------------------------------------------------------------------------------------------------------------------
main {
  width: 100%;
  flex: 1 0 auto;
  margin-top:160px;
}

@import "src/preview.scss";

@import "src/about.scss";

//----footer-----------------------------------------------------------------------------------------------
@import "src/footer.scss";


//? u can delete all under this comment  
// .why {
//   background: #f7f5f5;
//   padding: 100px 0;
// }
// .why__top {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// .why__cards {
//   display: flex;
//   flex-wrap: wrap;
//   & > :not(:last-child) {
//     margin: 0 40px 40px 0;
//   }
// }
// //----------

// //----------

// .services {
//   background: #39393b;
//   color: #fff;
//   &__body {
//     padding: 100px 0;
//   }
//   .services__title,
//   .services__subtitle {
//     color: #fff;
//   }
//   &__button {
//     display: flex;
//     justify-content: center;
//     button {
//       background: transparent;
//     }
//   }
// }
// .services__header {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .content__row {
//   padding: 0 40px;
// }

// .item {
//   display: flex;
//   margin: 0 0 40px 0;
//   height: 320px;
//   &__number {
//     flex: 1 0 350px;
//     font-size: 100px;
//     font-weight: 700;
//   }
//   &__nan {
//     padding: 40px 50px;
//   }
//   &:last-child {
//     flex-direction: row-reverse;
//   }
// }
// .item__column {
//   flex: 1 0 350px;
//   display: inherit;
//   justify-content: center;
//   align-items: center;
// }
// .item__title {
//   font-size: 30px;
//   font-weight: 700;
//   line-height: 43/30 * 100%;
//   margin: 0 0 20px 0;
// }
// .item__text {
//   font-size: 16px;
//   font-weight: 400;
//   line-height: 28/16 * 100%;
// }

// .work {
//   padding: 100px 0;
// }
// .work__body {
//   position: relative;
//   left: 0;
//   width: 680px;
//   background: #fff;
// }
// .list__element {
//   display: flex;
//   &:not(:last-child) {
//     margin-bottom: 20px;
//   }
//   &::before {
//     content: "";
//     display: block;
//     position: relative;
//     top: 0;
//     width: 70px;
//     height: 70px;
//     border-radius: 100%;
//     background: #f1f3f3;
//   }
// }
// .element__body {
//   padding: 0 0 0 30px;
//   h3 {
//     color: #4a4a4d;
//     font-size: 30px;
//     line-height: 42/30 * 100%;
//   }
//   h4 {
//     color: #8c8c8c;
//     font-size: 16px;
//     line-height: 27/16 * 100%;
//   }
// }

// .team {
//   background: #f7f5f5;
//   padding: 100px 0;
// }

// //----------------------------------------------------------------------------------------------------------------------------------


